name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

env:
  NAME: ''
  MODRINTH_ID: ''

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          cache: pip
      - name: Install dependencies
        run: pip install -r requirements.lock

      - name: Build
        run: beet

      - name: Pack Datapack
        run: |
          cp -r build/${{ env.NAME }}/* .
          zip -r ${{ env.NAME }} LICENSE.txt README.md CHANGELOG.md data pack.mcmeta pack.png

      - name: Pack Resourcepack
        run: |
          cp -r build/${{ env.NAME }}-Resourcepack/* .
          zip -r ${{ env.NAME }}-Resourcepack LICENSE.txt README.md CHANGELOG.md data pack.mcmeta pack.png

      - name: Publish on Modrinth
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
          modrinth-unfeature-mode: intersection

          github-token: ${{ secrets.GITHUB_TOKEN }}

          name: ${{ env.NAME }} ${{github.ref_name}}
          version: ${{github.ref_name}}
          version-type: release
          changelog-file: CHANGELOG.md
          files: |
            ${{ env.NAME }}.zip
            ${{ env.NAME }}-Resourcepack.zip

          loaders: datapack
          game-versions: |
            1.21.0
            1.21.1
